*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

//Navigation
nav{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.logo span{
    font-size: 27px;
}
.logo{
    text-transform: lowercase;
    font-weight: 1000;
    color: #2b2b2b;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1); 
    font-size: 20px;
    letter-spacing: 5px;
    font-family: Helvetica Neue, sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover{
    color: #01695f;
}

.active{
    transform: scale(1.3);
}

.burger{
    display: none;
    cursor:  pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    margin: 5px;
    transition: all 0.3s ease;
}

//page background
.home{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.about{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.projects{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.contact{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.home, 
.about,
.contact,
.projects{
    height: 92vh;
    position: absolute;
    width: 100%;
    z-index: -1;
    p{
        margin-top: 12px;
        font-size: 16px;
    }

}
.home-content{
    display: flex;
    justify-content: space-evenly;
    h1{
        font-size: 50px;
        margin-top: 5%;
        margin-bottom: 10%;
    }

}


//about page 

.about{
    line-height: 1.5em;
    letter-spacing: 1px;
    padding: 3% 8% 0 13%;
}
.about span{
    font-weight: 600;
}

//about top content
.about .grid-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

//image container
.about .circular-square{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    overflow: hidden;
    margin-left: 10%;
}

//image style 
.about .circular-square img {
    width: auto;
    height: 100%;
    margin-left: -15%;
  }

//paragraphs 1st and 2nd section in about 
.about .about-info{
    margin-bottom: 15px;
    padding-top: 15%;
}


.about h3{
    font-weight: 300;
    margin: 50px 0 20px 0;
}

//my skills
.container{
    width: 100%;
    margin-bottom: 10px;
    background-color: #b2b2b2;
}

.skills{
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color: #b2b2b2;
    background-color: #424242;
}

.html{
    width: 60%;
}

.css{
    width: 60%;
}

.js{
    width: 35%;
}

//paragraphs 3rd
.about-bottom-content .paragraph3{
    margin-top: 3%;
}



//Projects page

.projects .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin-left: 13%;
    margin-right: 8%;
    padding-top: 3%;
}

.projects h1{
    margin-left: 5px;
}

//kathys candles and responsive img 
.projects .grid-container img{
    padding-top: 2%;
    max-width: 100%;
}

//projects images hover
.projects .grid-container img:hover{
    background-color: #84fab0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    transform: scale(1.025);
}

//paragraphs inside grid 
.projects .grid-container p{
    max-width: 100%;
}

//nested grid project 3
.projects .grid-container .project3{
    display: grid;
    grid-gap: 0;
    grid-template-columns: 40% 60%;
    grid-column: span 2;
}
//paragraphs inside project3
.projects .grid-container .project3 .info-project3{
    padding-top: 15%;

}

//popup images for project 3
/* The Modal (background) */
.projects .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .projects .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 30%;
  }
  
  /* The Close Button */
  .projects .close {
    color: white;
    position: absolute;
    top: 9%;
    right: 35%;
    font-size: 25px;
  }
  
  .projects .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .projects .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .projects .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .projects .prev{
      margin-left: -15%;
  }
  
  /* Position the "next button" to the right */
  .projects .next {
    margin-left: 75%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .projects .prev:hover,
  .next:hover {
    background-color: darkgray;
    opacity: 50%;
  }
  
  /* Number text (1/3 etc) */
  .projects .numbertext {
    color:white;
    font-size: 12px;
    padding-left: 80%;
    padding-top: 99%;
    position: absolute;
  }
  
  /* Caption text */
  .projects .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .projects img.demo {
    opacity: 0.6;
  }
  
  .projects .active,
  .demo:hover {
    opacity: 1;
  }
  
  .projects img.hover-shadow {
    transition: 0.3s;
  }


//contact page
.contact{
    line-height: 1.5em;
    letter-spacing: 1px;
    padding: 5% 10% 0 20%;
}

.contact-content {
    justify-content: space-evenly;
    h1{
        font-size: 50px;
        margin: 30px 0px;
    }
}

//form area
form input[type="text"],
select,
textarea{
    width: 100%;
    padding: 6px;
    font-size: 16px;
    border: none;
    border: 1px solid #222;
    background: transparent;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #646060;
}

form input[type="text"]:focus,
textarea:focus{
    outline: none;
    border: 1px solid #009688;
}

.contact button{
    background-color: transparent;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 1px solid #222;
    cursor: pointer;
    transition: all 0.35s;
}

.contact button:hover{
    color: #01695f;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

//form input error message style 
.contact .contact-content .contact-presentation div{
    margin-top: -10px;
    margin-bottom: 5px;
    color: rgb(248, 114, 114);
    font-size: 12px;
}


//footer
.footer{
position: absolute;
bottom: 0;
width: 100%;
color: black;
text-align: center;

}

.top-bar a{
    margin: 5px;
    transition: all 0.35s ease-in-out;
    text-decoration: none;
    color: #434343;
    font-size: 20px;
}

.top-bar a:hover{
    color: #01695f;
}

.bottom-bar{
    font-size: 12px;
}

//media screens
@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
      
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 40%;
        top: 8vh;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0; 
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translate(10%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
    
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}