* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  display: grid;
  grid-template-rows: max-content auto max-content;
  grid-template-columns: 100%;
  size: cover;
}

// //Navigation
nav {
  position: fixed;
  min-width: 100%;
  z-index: 2;
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  height: 112px;
  background: #181818;
}
.logo span {
  font-size: 27px;
}
.logo {
  text-transform: lowercase;
  a {
    text-decoration: none;
  }
  h4 {
    letter-spacing: 3px;
    font-family: Helvetica Neue, sans-serif;
    color: #c19f63;
    font-size: 20px;
  }
}

//ul class for all navigation item except logo
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  color: #c19f63;
  cursor: pointer;
  line-height: 50px;
  padding: 0px 2em;
  //code to increase clickable area
  display: inline-block;
  width: 100%;
  height: 100%;
}

//hover style
.nav-links li:hover {
  background: #252525;
}
.nav-links li::after {
  content: "";
  display: block;
  // width: 0;
  margin: auto;
  // opacity: 0;
  height: 2px;
  background: #c19f63;
  transition: width 0.2s;
}
.nav-links li:hover::after {
  width: 100%;
  opacity: 1;
}

//for active nav bar
.active {
  a {
    color: #fad89e;
    border-bottom: 1px solid #c19f63;
  }
}

//

.burger {
  display: none;
  cursor: pointer;
}

//for mobile site nav
.burger div {
  width: 25px;
  height: 3px;
  background-image: linear-gradient(
    to right,
    #413127 0%,
    rgb(124, 117, 94) 100%
  );
  margin: 5px;
  transition: all 0.3s ease;
}

//starting each page after nav bar
main {
  margin-top: 112px;
}

.home-page,
.about-page,
.projects-page,
.application-page {
  background-image: url(../images/background.jpg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact-page {
  background-image: linear-gradient(
      60deg,
      rgba(15, 12, 202, 0.192),
      rgba(22, 22, 27, 0.13),
      rgba(143, 142, 223, 0.068),
      rgba(15, 12, 202, 0.192)
    ),
    url("../images/cover.jpg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home,
.about,
.contact,
.projects {
  p {
    margin-top: 12px;
  }
}

//home page

//homepage grid
.home {
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
  margin-top: 3%;
  margin-left: 10%;
  transition: 0.5s ease-in;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto;
  grid-gap: 10%;
  max-width: 80%;
  padding: 5%;

  //top heading
  h1 {
    color: #333333;
    font-size: 39px;
    text-align: left;
  }
}

//homepage content grid to saperate home presentation and get in touch button
.home .home-content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}

//for introduction and images
.home-presentation {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  grid-gap: 10%;
}

//introduction box along with background gradients
.home-presentation .intro-box {
  position: relative;
  display: grid;
  grid-template-rows: 20% auto;
  h5 {
    font-size: 29px;
    font-weight: 500;
  }
}

//myname
.home-presentation .myname h5 {
  background: linear-gradient(45deg, #000000, #2d2d2e, #010008, #2196f3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  max-width: max-content;
  animation: animateT 3s linear infinite;
}

//for changing gradient color on h5 text on home page and h3 text on about page
@keyframes animateT {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

//crossfade image container
.home-content .crossfade-images {
  height: 512px;
  width: 768px;
}

.crossfade-images ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.crossfade-images li {
  position: absolute;
}
.crossfade-images img {
  width: 100%;
  box-shadow: 0 0 5px 0 hsla(0, 0%, 30%, 0.3);
}
.crossfade-images li:nth-child(4) {
  animation: xfade 12s 0s infinite;
}
.crossfade-images li:nth-child(3) {
  animation: xfade 12s 3s infinite;
}
.crossfade-images li:nth-child(2) {
  animation: xfade 12s 6s infinite;
}
.crossfade-images li:nth-child(1) {
  animation: xfade 12s 9s infinite;
}
@keyframes xfade {
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}

//get in touch button
.home-content .getbutton {
  text-align: right;
  max-width: 100%;
}

.home-content .getbutton a {
  display: inline-block;
  position: relative;
  color: #473528;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
  font-size: 24px;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
}

//hover background on get in touch button on intro. in home page
.home-content .getbutton a:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 30px #2196f3, 0 0 60px #2196f3;
  transition-delay: 1s;
}

.home-content .getbutton a span {
  position: absolute;
  display: block;
}

//for topline gradient on top of text
.home-content .getbutton a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.home-content .getbutton a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

////for line gradient on bottom of text
.home-content .getbutton a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.home-content .getbutton a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

//for line gradient on right side of text
.home-content .getbutton a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.home-content .getbutton a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
//for line gradient on left side of text
.home-content .getbutton a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.home-content .getbutton a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

//about page
.about {
  max-width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-gap: 30px;
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
  margin-left: 10%; //to align to center
  color: #333333;
  padding: 3% 3% 3% 10%;
}

//my name
.about-info span {
  font-size: 20px;
  font-weight: bold;
}
//about top content
.about .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  grid-gap: 5%;
}

//image container
.about .circular-square {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  overflow: hidden;
  position: relative;
}

//image style
.about .circular-square img {
  filter: contrast(95%);
  width: auto;
  height: 100%;
  margin-left: -15%;
}

//paragraphs 1st and 2nd section in about
.about .about-info {
  padding-top: 15%;
}

//my skills heading
.about h3 {
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(
    45deg,
    #ff0000,
    #696969,
    #808080,
    #a9a9a9,
    #c0c0c0,
    #000000,
    #696969,
    #808080,
    #a9a9a9,
    #c0c0c0
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animateT 2s linear infinite;
}

//skills container
.myskills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

//background for circle
.myskills-container .card {
  position: relative;
  width: 200px;
  background-image: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.myskills-container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

//half container color
.myskills-container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(95, 94, 94, 0.3);
  pointer-events: none;
  z-index: none;
}

.myskills-container .percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1;
}

.myskills-container .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

//for percentage number
.myskills-container .percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.myskills-container .card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

//for %
.myskills-container .percent .number h2 span {
  font-size: 24px;
  color: #777;
  transition: 0.5s;
}

.myskills-container .card:hover .percent .number h2 span {
  color: #fff;
}

//html css js text
.myskills-container .text {
  position: relative;
  margin-top: 20px;
  color: #777;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.5s;
}

.myskills-container .card:hover .text {
  color: #fff;
}

.myskills-container svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.myskills-container svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

//for completed percentage color
.myskills-container svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.myskills-container .card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: 440 - (440 * 70)/100;
  stroke: #00ff43;
}
.myskills-container .card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: 440 - (440 * 60)/100;
  stroke: #00a1ff;
}
.myskills-container .card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: 440 - (440 * 35)/100;
  stroke: #ff04f7;
}

//Projects page

.projects {
  background-image: linear-gradient(
    to bottom,
    #696968da 31%,
    #2e2e2db4 75%,
    #e9e9e7ee 100%
  );

  max-width: 80%;
  margin-left: 10%;
}
.projects h1 {
  display: none;
}

//grid projects in center
.projects-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto auto auto;
  grid-gap: 5%;
  justify-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

//image size
.projects-container .card img {
  max-width: 350px;
}

//each card width
.projects-container .card .face {
  width: 350px;
  transition: 0.5s ease-in-out;
}

.projects-container .card .face.face1 {
  background: #333;
  z-index: 1;
  transform: translateY(200px);
}

//hover on card (top part)
.projects-container .card:hover .face.face1 {
  transform: translateY(0);
  background: #333;
  h3 {
    color: #fff;
    font-weight: 900;
  }
}

.projects-container .card .face.face1 .content {
  transition: 0.5s ease-in-out;
}

.projects-container .card .face.face1 h3 {
  color: #fff;
  padding: 10px;
  text-align: center;
}

//hiding h3 for info container (this is only for mobile site)
.projects-container .card .face.face2 h3 {
  display: none;
}

.projects-container .content p {
  font-size: 16px;
}

.projects-container .card .face.face2 {
  background: #fff;
  padding: 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.8);
  transform: translateY(-200px);
}

//second card hover (bottom part)
.projects-container .card:hover .face.face2 {
  transform: translateY(0);
}

.projects-container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 900;
  padding: 5px;
  border: 1px solid #333;
  cursor: pointer;
}

//changing Read More color on hover
.projects-container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

//android application screenshots page

.application {
  max-width: 90%;
  margin: 5%;
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
}
.application h1 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 39px;
  padding: 5% 5%;
  transition: 0.5s ease-out;
}
.application h2 {
  font-weight: 500;
  padding-top: 10px;
}

.application-content {
  padding: 0 5% 5%;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
  text-align: left;
  grid-template-columns: 100%;
  grid-gap: 2%;
}

//for images grid
.application-content .images {
  padding: 0 0 10%;
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 100%;
  grid-template-columns: repeat(4, auto);
}
.application-content .images img {
  max-width: 300px;
}

//name of each images
.application-content h3 {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

//area of icon name text
.application-content .face.face2 .content {
  background: #333;
  padding: 30px 0;
}

.application-content .images .card .face.face1 {
  z-index: 1;
  transform: translateY(100px);
  transition: 0.5s ease-out;
}

//hover on card (top part)
.application-content .images .card:hover .face.face1 {
  transform: translateY(0);
}

.application-content .images .card .face.face2 {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.8);
  transform: translateY(-50px);
}

//second card hover (bottom part)
.application-content .images .card:hover .face.face2 {
  transform: translateY(0);
}

//contact page

.contact {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  grid-gap: 0;
  max-width: 80%;
  margin: 10% 0 10% 10%;
  color: #333333;
}

//header and form
.contact-presentation {
  background: #eeeeece3;
  background-size: max-content;
  margin-left: -15%;
  justify-items: center;
  justify-content: center;
  padding: 0 50px;
  display: grid;
}

.contact .contact-title {
  margin-top: 40px;
}

//Get in touch header and a paragraph
.contact-title h1 {
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
}

.contact-title p {
  font-weight: 400;
  text-align: left;
}

//contact-form
.contact-form {
  width: 100%;
  margin-top: 50px;
  transition: all 0.5s ease-in-out;
}

//form area
//placeholder
form input::placeholder,
textarea::placeholder {
  color: #221f1f93;
}

form input[type="text"],
select,
textarea {
  width: 100%;
  background: transparent;
  margin-bottom: 5px;
  resize: vertical;
  color: #333333;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-weight: 400;
}

form input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
}

.contact-form button {
  background: #ff5722;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 24px;
  color: #fffefe;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid gray;
  cursor: pointer;
  width: 100%;
  height: 50px;
  transition: all 0.5s ease-in-out;
}

//contact button hover
.contact button:hover {
  background: #f44336;
  font-size: 26px;
  opacity: 0.9;
}

//form input error message style
.contact-presentation .contact-form div {
  margin-bottom: 25px;
  color: rgb(253, 0, 0);
  font-size: 14px;
}

//social media container
.social-media {
  margin-top: 100px;
  width: 100px;
}

//each icons
.social-media .sm-buttons {
  width: 100%;
  text-align: center;
}

//social media icons
.social-media .btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  margin: 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -15px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 60px;
  font-size: 24px;
  transition: 0.2s linear;
}

//hover on social media icons
.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover:before {
  animation: media-animation 0.7s 1;
  top: -10%;
  left: -10%;
}

//for social medial icons animation

@keyframes media-animation {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

//footer for only about and projects page

.home-page .footer,
.about-page .footer,
.projects-page .footer,
.contact-page .footer {
  width: 80%;
  background-image: linear-gradient(
    to top,
    #d5d4d0b6 0%,
    #d5d4d0b0 1%,
    #eeeeecda 31%,
    #efeeecb4 75%,
    #e9e9e7ee 100%
  );
  margin-left: 10%;
}

//footer
.footer {
  bottom: 0;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}

.top-bar a .fa {
  margin: 0 5px 0;
  text-decoration: none;
  color: #0099ff;
  font-size: 28px;
  opacity: 0.6;
}

.top-bar a:hover .fa {
  transform: translateY(-5px);
  box-shadow: 0 0 35px none;
  transition: 0.5s;
  cursor: pointer;
  opacity: 1;
}

.bottom-bar p {
  margin-top: -1px;
  font-size: 12px;
  text-align: center;
}

//media screens

@media (max-width: 1600px) {
  .nav-links {
    z-index: 1;
    width: 60%;
  }

  .home,
  .about,
  .projects {
    max-width: 90%;
    margin-left: 5%;
  }
  .home-presentation {
    display: grid;
    grid-gap: 0;
    grid-template-columns: max-content auto;
  }

  .home-presentation .intro-box {
    p {
      font-size: 16px;
    }
    h5 {
      font-size: 22px;
    }
  }
  //image container
  .crossfade-images {
    max-width: 90%;
  }
  .crossfade-images ul img {
    max-width: 100%;
  }

  //projects
  .projects {
    p {
      font-size: 14px;
    }
    h3 {
      font-size: 16px;
    }
  }

  .projects-container {
    margin-left: 5%;
    grid-gap: 0;
  }

  //each card width
  .projects-container .card .face {
    width: 80%;
    transition: 0.5s ease-in-out;
  }

  //image size
  .projects-container .card img {
    max-width: 100%;
  }

  //application page

  .application {
    max-width: 96%;
    margin-left: 2.5%;
  }

  .application-content .images img {
    max-width: 250px;
  }

  //footer
  .home-page .footer,
  .about-page .footer,
  .projects-page .footer {
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 1300px) {
  //appliation page

  .application-content {
    grid-gap: 2%;
  }
  //image containers
  .application-content .images {
    padding: 0 0 10%;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
  }

  .application-content .images img {
    max-width: 300px; //return to original size
  }
}

@media screen and (max-width: 1280px) {
  .nav-links {
    z-index: 1;
    width: 70%;
  }

  //homepage
  .home {
    transition: 0.5s ease-in;
    padding-bottom: 15%;
    h1 {
      font-size: 29px;
    }
  }

  .home-content {
    display: grid;
    grid-gap: 10%;
  }
  .home-presentation {
    display: grid;
    transition: 0.5s ease-in;
    grid-template-rows: max-content auto;
    grid-template-columns: 100%;
    grid-gap: 5%;
  }

  //image container
  .crossfade-images {
    max-width: 100%;
  }
  .crossfade-images ul img {
    max-width: 100%;
  }

  //contact page
  .contact {
    max-width: 90%;
    margin-left: 5%;
  }

  .contact-presentation {
    margin: 0;
  }
  //contact footer increse by 10%
  .contact-page .footer {
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    padding: 5px;
  }
  .nav-links a {
    padding: 0 1em;
  }
  .nav-links {
    z-index: 1;
    width: 70%;
  }

  //homepage
  .home {
    grid-gap: 5%;
    h1 {
      font-size: 24px;
    }
  }
  .home {
    padding-bottom: 10%;
  }
  .home-presentation,
  .home-content {
    grid-gap: 2%;
  }

  //about page

  .about {
    padding: 3%;
  }

  .about .grid-container {
    display: grid;
    grid-template-rows: auto max-content;
    transition: 0.5s ease-in;
    grid-template-columns: 100%;
    justify-items: center;
    grid-gap: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }

  //image container
  .about .circular-square {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    position: relative;
  }

  //paragraphs 1st and 2nd section in about
  .about .about-info {
    padding-top: 0;
  }

  //skills container
  .myskills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-gap: 10px;
  }

  //projects page
  .projects {
    padding-bottom: 200px;
  }

  .projects-container {
    display: grid;
    transition: 0.5s ease-out;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    grid-gap: 5%;
    justify-items: center;
    justify-content: center;
    padding-top: 100px;
    margin: 0; //taking margin off
  }
  //for columns display
  .projects-container .card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
  }

  //image size
  .projects-container .card img {
    max-width: 350px;
  }

  .projects-container .card .face.face1 {
    max-width: 350px;
    transition: 0.5s ease-in-out;
    z-index: 1;
    background: none; //taking gray background off
    transform: translateX(150px);
  }

  //hover on card (top part)
  .projects-container .card:hover .face.face1 {
    background: none;
    transform: translateX(0);
  }

  //for info width
  .projects-container .card .face.face2 {
    width: 300px;
    height: 534.38px; //equal to the image height
  }

  //hiding h3 for image container(this is only for desktop site)
  .projects-container .card .face.face1 h3 {
    display: none;
  }

  .projects-container .card .face.face2 h3 {
    display: inline-block;
    padding: 10px 0;
    text-align: left;
    font-weight: 900;
  }

  .projects-container .card .face.face2 {
    transform: translateX(-150px);
  }

  //second card hover (bottom part)
  .projects-container .card:hover .face.face2 {
    transform: translateX(0);
  }

  //contact page
  .contact {
    margin-top: 10%;
  }
  //to put footer to bottom in contact page
}

//only for crossfade images on home page
@media screen and (max-width: 850px) {
  //image container
  .home-content .crossfade-images {
    transition: 0.5s ease;
    max-height: 453px;
  }
  //get in touch button
  .home-content .getbutton a {
    font-size: 20px;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  //navigation
  nav {
    height: 89px;
  }
  .nav-links {
    background: #181818;
    z-index: 2;
    position: absolute;
    // right: 0px;
    height: 250px;
    width: 100%;
    top: 89px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    transform: translate(0, calc(-100% - 89px));
    transition: all 0.5s ease-in;
    opacity: 0; //for animation
  }

  //for nav-links animation
  // .nav-links li {
  //   opacity: 0;
  // }

  .burger {
    display: block;
  }

  //taking hover style off
  .nav-links li:hover {
    background: none;
  }
  .nav-links li::after {
    background: none;
  }

  //for active nav bar on mobile sites
  .active {
    a {
      color: #fad89e;
      transform: scale(1.2);
      font-weight: 400;
      border: none;
    }
  }

  .home,
  .about,
  .projects,
  .contact {
    max-width: 95%;
    margin-left: 2.5%;
  }

  //home page
  .home h1 {
    font-size: 20px;
  }

  .home-presentation .intro-box h5 {
    font-size: 20px;
  }
  //image container
  .home-content .crossfade-images {
    transition: 0.5s ease;
    max-height: 428px;
  }
  .home-content .getbutton a {
    border: 1px solid #2196f3;
    box-shadow: 0 5px 5px #0191ff;
  }

  //taking hover anmation off
  .home-content .getbutton a:hover {
    color: #473528;
    background: none;
    box-shadow: 0 5px 5px #0191ff;
    transition-delay: none;
  }

  .home-content .getbutton a span {
    display: none;
  }

  //about page

  .about-info span {
    font-size: 16px;
  }

  .about p {
    font-size: 14px;
  }

  //my skills heading
  .about h3 {
    font-size: 20px;
  }

  .myskills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
  }

  .myskills-container .card {
    width: 160px;
    height: 200px;
  }

  //projects page

  .projects {
    max-width: 95%;
    margin-left: 2.5%;
  }
  .projects {
    padding-bottom: 100px;
  }

  //project heading only for mobile sites
  .projects h1 {
    display: block;
    padding-top: 50px;
    text-align: center;
    color: #eff0c0;
    font-weight: 500;
  }

  .projects p {
    margin-top: 0px;
  }
  .projects-container {
    padding-top: 50px; //taking 50px padding off
  }

  //image size
  .projects-container .card img {
    max-width: 220px;
  }

  .projects-container .card .face.face1 {
    max-width: 220px;
    transform: translateX(110px);
  }

  //hover on card (top part)
  .projects-container .card:hover .face.face1 {
    background: none;
    transform: translateX(0);
  }

  //for info width
  .projects-container .card .face.face2 {
    width: 220px;
    height: 335.9px; //equal to the image height
  }

  .projects-container .card .face.face2 h3 {
    font-size: 14px;
    padding: 5px 0; //reducing padding from 10px
  }

  .projects-container .content p {
    font-size: 12px;
  }

  .projects-container .card .face.face2 {
    transform: translateX(-110px);
  }

  //second card hover (bottom part)
  .projects-container .card:hover .face.face2 {
    transform: translateX(0);
  }

  .projects-container .card .face.face2 .content a {
    font-size: 16px;
    padding: 3px;
  }

  //contact page

  //changing grid style to row based
  .contact {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 100%;
    grid-gap: 2%;
    margin: 8% 0 20% 2.5%;
  }
  //reducing padding from 50px to 10px
  .contact-presentation {
    padding: 0 10px;
  }

  //social media container
  .social-media {
    display: grid; //to put it to right
    justify-content: left;
    justify-items: left;
    width: 100%;
    margin-top: 200px; //taking 100px margin off
  }

  //reducing social media icons size
  .social-media .btn {
    width: 40px;
    height: 40px;
    border-radius: 30%;
  }

  .btn i {
    line-height: 40px;
    font-size: 20px;
  }

  //Get in touch header and a paragraph size
  .contact-title h1 {
    font-size: 24px;
  }

  .contact-title p {
    font-size: 14px;
  }

  //reducing submit button size
  .contact-form button {
    font-size: 20px;
    height: 40px;
  }

  .footer .bottom-bar p {
    font-size: 10px;
  }

  .home-page .footer,
  .about-page .footer,
  .projects-page .footer {
    width: 95%;
    margin-left: 2.5%;
  }

  //application page

  .application h1 {
    font-size: 29px;
  }

  //for images grid
  .application-content .images {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 100%;
  }

  //area of icon name text
  .application-content .images .card .face.face1 {
    transform: translateY(0px);
  }

  //hover on card (top part)
  .application-content .images .card:hover .face.face1 {
    transform: translateY(0);
  }

  .application-content .images .card .face.face2 {
    transform: translateY(0px);
  }

  //second card hover (bottom part)
  .application-content .images .card:hover .face.face2 {
    transform: translateY(0);
  }

  //footer
  //taking opacity and transform off

  .top-bar a .fa {
    opacity: 1;
  }
  .top-bar a:hover .fa {
    transform: none;
  }
}

@media screen and (max-width: 680px) {
  //home
  //image container
  .home-content .crossfade-images {
    transition: 0.5s ease;
    max-height: 375px;
  }
}

@media screen and (max-width: 620px) {
  //home
  //image container
  .home-content .crossfade-images {
    transition: 0.5s ease;
    max-height: 350px;
  }
}

@media screen and (max-width: 560px) {
  //about page

  .skills-container {
    display: grid;
    justify-items: center;
  }

  .myskills-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 100%;
    grid-gap: 20px;
  }

  //application page

  .application {
    h1 {
      font-size: 22px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 500px) {
  //home
  //image container
  .home-content .crossfade-images {
    transition: 0.5s ease;
    max-height: 281px;
  }

  //projects page

  .projects-container .card .face.face1 {
    max-width: 220px;
    transform: translateX(110px);
  }

  //hover on card (top part)
  .projects-container .card:hover .face.face1 {
    background: none;
    transform: translateX(
      -110px
    ); //taking whole container away to enable click on open button
    transition: 0.5s ease-out;
    opacity: 0;
  }

  .projects-container .card .face.face2 {
    transform: translateX(-110px);
  }

  //second card hover (bottom part)
  .projects-container .card:hover .face.face2 {
    transform: translateX(-110px);
  }
}

@media screen and (max-width: 414px) {
  //home
  .home {
    padding-bottom: 15%;
  }
  //get in touch button
  .home-content .getbutton {
    margin-top: 10px;
  }
  //image container
  .home-content .crossfade-images {
    transition: 0.5s ease;
    max-height: 234px;
  }

  //about page

  .about .circular-square {
    height: 200px;
    width: 200px;
  }

  //application
  .application {
    h1,
    h3 {
      font-size: 18px;
    }
    p,
    h2 {
      font-size: 14px;
    }

    .application-content .images img {
      max-width: 250px;
    }
  }

  //name inside each images
  .application-content .face.face2 .content {
    padding: 15px 0;
  }
}

@media screen and (max-width: 350px) {
  //home
  //image container
  .home-content .crossfade-images {
    transition: 0.5s ease;
    max-height: 199px;
  }
}
.nav-active {
  transform: translate(0%, 0%);
  opacity: 1;
}

//this is for nav links animation class
// @keyframes navLinkFade {
//   from {
//     opacity: 0;
//     position: relative;
//     right: -50px;
//   }
//   to {
//     opacity: 1;
//     position: relative;
//     right: 0px;
//   }
// }

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
