.flat-list li {
    display: inline;
}

footer {
	margin-top: 20px;
}

.required {
	color: red;
}

.navbar-default {
	background: #eeeeee;
}

.navbar {
	margin-top: 15px;
	margin-bottom: 15px;
}

.panel-heading {
	padding: 15px 15px 15px 15px;
}